html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333333;
}

#xMoveton > ul {
    margin: 25px auto 0;
}

#xMoveton > ul > li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0;
}

#xMoveton a {
    text-decoration: none;
}

#xMoveton > ul > li > a {
    font-size: 14px;
    padding: 8px;
    background-color: #444444;
    color: #ffffff;
}

#xMoveton li ul {
    position: absolute;
    top: 35px;
    list-style: none;
    /* text-align: center; */
    padding: 0;
    overflow: hidden;
    background: #444444;
    border-radius: 8px;
    width: 200px;
    max-height: 0px;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    -o-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}

#xMoveton li:hover ul {
    max-height: 300px;
}

#xMoveton li ul li:last-child {
    border-bottom: none;
}

#xMoveton li ul li a {
    padding: 10px 12px;
    color: #c4c4c4;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}

#xMoveton ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#xMoveton li ul li:first-child {
    position: relative;
}